#footer{
    background-color: white;
    padding-left: 10px;
    height: 35px;
}
#headerContainer {
    background-color: white;
}
#logo{
    height: 60px;
    width: 60px;
    float: left;
}
#logo img {
    width: 100%;
}
#navigationBar{
    list-style-type: none;
}
li{
    display: inline;
}
h1{
    text-align: center;
}
#serviceLinks{
    text-align: center;
    margin-bottom: 10px;
}
#serviceLinks a{
    text-decoration: none;
    color: black;
    padding-right: 10px;
}
#serviceLinks a:hover{
    color: #DAA520;
}
.buttons{
    border: none;
    outline: none;
    padding: 12px 16px;
    background-color: white;
    cursor: pointer;
}
.buttons:hover,
.active{
    background-color: #ddd;
}
h2{
    margin-left: 10px;
}
#logos{
    margin-left: 10px;
    background-color: white;
    border-radius: 10px;
}
#logos img{
    height: 400px;
    width: 300px;
}
#invitations img{
    height: 400px;
    width: 300px;
}
#invitations{
    background-color: white;
    border-radius: 10px;
    margin: 10px;
}
#elements img{
    width: 350px;
    height: 450px;
    border-radius: 5px;  /* Rounded border */
}
#elements{
    background-color: white;
    padding-top: 5px;
    padding-bottom: 5px;

}
#posters{
    background-color: white;
    border-radius: 10px;
    margin: 10px;
}
#advertisements{
    background-color: white;
    border-radius: 10px;
    margin: 10px;
}
.container{
    display: flex;
    flex-wrap: wrap ;
    justify-content: space-around;

}
.imageTextBox{
    background-color: #f0f0f0;
    margin: 15px;
    text-align: center;
    padding-top: 15px;
    padding-left: 10px;
    padding-right: 10px;
}
@media screen and (max-width: 500px) {
    .navigationBar{
        display: grid;
    }
}