body{
    background-color: lightgray;
}

#footer{
    background-color: white;
    padding-left: 10px;
    height: 35px;
}
#headerContainer {
    background-color: white;
}

#logo{
    height: 60px;
    width: 60px;
    float: left;
}
#logo img {
    width: 100%;
}
#navigationBar{
    list-style-type: none;
}

li{
    display: inline;
}
#invitation1{
    height: 400px;
    width: 300px;
}