body{
    background-color: lightgray;
    font-family: 'Open Sans', sans-serif;
    height: 100%; /* websiteul sa aiba 100% din browserul inaltimea*/
    margin: 0;
}
#logo{
    width: 60px;
    float: left;
    padding-right: 35px;
}
#logo img {
    width: 100%;
    padding-left: 6px;
    padding-top: 6px;
}
#headerContainer{
    background-color: white;
}
.navigationBar{
    list-style-type: none;
    padding: 25px;
}

li{
    display: inline;
    padding: 25px;
}
.navItem a {
    text-decoration: none;
    color: black;
}

.navItem a:hover{
    color: gold;
}

.imageContainer{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../image/homepage.jpg");
    width: 100%;
    height: 600px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.text p{
    font-size: 40px;
}
.text h1{
    font-size: 55px;
}
.text{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}
#serviceTitle{
    font-size: 35px;
    text-align: center;
}
.services{
    border-radius: 10px;
    text-align: center;
    padding: 50px;
    background-color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.serviceContainer{
    display: flex;
    flex-flow: row;
    justify-content: space-around;
}
.serviceContainer .services{
    padding: 15px;
    margin: 10px;
}
.serviceContainer p {
    text-align: center;
    line-height: 1.8;
    color: #6c757d;
}
.icons{
    color: #ffd700;
}

.footer{
    background-color: white;
    left: 0;
    bottom: 0;
    width: 100%;
}
.footerContinut{
    margin: 15px;
}
.footerContinut a{
    padding: 10px;
    font-size: 30px;
    color: black;
}

.footerContinut a:hover{
    color: gold;
}
#footerText{
    font-style: italic;
    font-size: 15px;
    text-align:right;
    padding-bottom: 10px;
}

#followUs{
    font-size: 20px;
    padding-top: 15px;
}